aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4
ar-lib

Makefile
Makefile.in
.dirstamp
.deps
.libs
*.o
*.a
*.la
*.lo

src/zlog-seqr-bench
src/zlog-seqr
*.pb.cc
*.pb.h

src/test
src/zstate-test
