aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4
ar-lib

Makefile
Makefile.in
.dirstamp
.deps
.libs
*.o
*.a
*.la
*.lo

src/zlog-seqr-bench
src/zlog-bench-ng
src/zlog-seqr
*.pb.cc
*.pb.h

src/zlog-test-ceph
src/zstate-test
src/stream-stress
src/append-check
src/zlog
src/physical-design
src/zlog-bench

CMakeCache.txt
CMakeFiles
cmake_install.cmake
*.so

build
