[submodule "googletest"]
	path = src/googletest
	url = git://github.com/cruzdb/googletest
	branch = cruzdb
	ignore = dirty
[submodule "src/flatbuffers"]
	path = src/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "src/json"]
	path = src/json
	url = https://github.com/nlohmann/json
