[submodule "googletest"]
	path = src/googletest
	url = git://github.com/cruzdb/googletest
	branch = cruzdb
	ignore = dirty
[submodule "src/HdrHistogram_c"]
	path = src/HdrHistogram_c
	url = https://github.com/HdrHistogram/HdrHistogram_c
[submodule "src/CRoaringUnityBuild"]
	path = src/CRoaringUnityBuild
	url = https://github.com/lemire/CRoaringUnityBuild
[submodule "src/civetweb"]
	path = src/civetweb
	url = https://github.com/civetweb/civetweb.git
