#!/usr/bin/make -f

export DH_VERBOSE = 1

extraopts += -DWITH_JNI=ON

#DPKG_EXPORT_BUILDFLAGS = 1
#include /usr/share/dpkg/default.mk

%:
	dh $@ --buildsystem=cmake --with javahelper --parallel

override_dh_strip:
	dh_strip -plibzlog1 --dbg-package=libzlog1-dbg
